<?xml version="1.0" encoding="utf-8"?>
<configuration> 

	<server>
		<host>195.113.20.127</host>
		<port>45678</port>
		<threads>10</threads>
	</server>
	
	<service name="Math">
		<desc>Simple Math service</desc>
		<method name="Add" returns="int" exec="./math/add">
			<param name="num1" type="int" />
			<param name="num2" type="int" />
		</method>
		<method name="Sub" returns="int" exec="./math/sub">
			<param name="num1" type="int" />
			<param name="num2" type="int" />
		</method>
		<method name="Mult" returns="int" exec="./math/mult">
			<param name="num1" type="int" />
			<param name="num2" type="int" />
		</method>
		<method name="Div" returns="int" exec="./math/div">
			<param name="num1" type="int" />
			<param name="num2" type="int" />
		</method>
	</service>

	<service name="Random">
		<desc>Randomizer</desc>
		<method name="Rand" returns="int" exec="./random/rand">
			<param name="num1" type="int" />
			<param name="num2" type="int" />
		</method>
	</service>

	<service name="Google">
		<desc>This service provides basic Google search</desc>
		<method name="Search" returns="string" exec="./google/search">
			<param name="query" type="string" />
		</method>
	</service>
	
</configuration>
